.App {
  text-align: center;
}

body, .isus{
  height: 100%;
  margin: 0;
}


.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


/*************************
******* Navigation *******
**************************/

    
.navbar {
  margin-bottom: 50px;
  border-radius: 0;
}

.jumbotron {
  margin-bottom: 0;
}

header{
  /* background: url(images/loginImages/pic1.jpg); */
  background-size: cover;
     background-position: center;
}

footer {
  background-color: #f2f2f2;
  /* background: url(images/loginImages/pic1.jpg); */
  padding: 55px;
}

 .description{
   margin-left: 25px;
 }
 
 p{
   font-size: 18px;
 }

.bg-grey{
  background-color: grey;
height: 40px;
text-align: center;
color: white;
}

.bg-grey p{
  padding-top: 8px;
}

.btn-buy{
  background-color: rgb(30, 30, 30);
height: 40px;
text-align: center;
color: white;
}

.btn-navigation {
  background-color: rgb(34, 34, 34);
height: 50px;
text-align: center;
font-size: 14px;
color: gray;
border: hidden;
}

.btn-navigation:hover {
  color: white;
}

.btn-filter{
  background-color: orange;
padding: 10px;
border-radius: 10px;
text-align: center;
font-size: 14px;
color: black;
float: center;
}


/*************************
******* Cards *******
**************************/

.cards-filtered{
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 1rem;
  padding-left: 20vw;
  width: 80vw;
  height: 50vh;
}

@media (max-width: 700px) {
  .cards-filtered {
    padding-left: 20vw;
    width: 80vw;
    height: 80vh;
    grid-template-columns: auto auto;
  }
}

@media (max-width: 500px) {
  .cards-filtered {
    grid-template-columns: 1fr;
  }
}

.cards {
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 1rem;
  width: 70vw;
  height: 50vh;
}

@media (max-width: 700px) {
  .cards {
    padding-left: 20vw;
    width: 80vw;
    height: 80vh;
    grid-template-columns: auto auto;
  }
}

@media (max-width: 500px) {
  .cards {
    grid-template-columns: 1fr;
  }
}

.cardr {
  display: grid;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  margin: auto;
  text-align: center;
  font-family: arial;
  margin-bottom: 20px;
}

.cardr span{
  font-size: 15px;
  display: inline; 
  overflow: hidden;
  white-space: nowrap;
}

.cardr img{
  padding-top: 10px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.price {
  color: grey;
  font-size: 26px;
  padding-bottom: 10px ;
}

.cardr button {
  border: none;
  outline: 0;
  padding: 5px;
  color: white;
  background-color: rgb(0, 0, 0);
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}

.cardr button:hover {
  opacity: 0.8;
}


/*************************
******* Filters *******
**************************/

@media (max-width: 700px) {
  .filters {
    display: none;
  }
}

ul li {
  list-style: none;
}

a:focus {
  outline:none;
  outline-offset: 0;
}
/* 
#accordian{
  background-color: #61dafb;
  border: 5px solid red;
} */

.category-products .panel {
	background-color: #FFFFFF;
	border: 0px;
	border-radius: 0px;
	box-shadow:none;
	margin-bottom: 0px;
}

.category-products .panel-default .panel-heading {
  background-color: #FFFFFF;
  border: 0 none;
  color: #FFFFFF;
  padding: 5px 20px;
}

.category-products .panel-default .panel-heading .panel-title a {
  color: #696763;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  text-decoration: none;
  text-transform: uppercase;
}

.category-products .badge {
  background:none;
  border-radius: 10px;
  color: #696763;
  display: inline-block;
  font-size: 12px;
  font-weight: bold;
  line-height: 1;
  min-width: 10px;
  padding: 3px 7px;
  text-align: center;
  vertical-align: baseline;
  white-space: nowrap;
}

.left-sidebar h2, .brands_products h2 {
  color: #FE980F;
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  font-weight: 700;
  margin: 0 auto 30px;
  text-align: center;
  text-transform: uppercase;
  position: relative;
  z-index:3;
}

.brands-name {
  border: 1px solid #F7F7F0;
  padding-bottom: 20px;
  padding-top: 15px;
}

.brands-name .nav-stacked li a {
  background-color: #FFFFFF;
  color: #696763;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  padding: 5px 25px;
  text-decoration: none;
  text-transform: uppercase;
}

.brands-name .nav-stacked li a:hover{
  background-color: #fff;
  color: #696763;
}

.well {
  background-color: #FFFFFF;
  border: 1px solid #F7F7F0;
  border-radius: 4px;
  box-shadow: none;
  margin-bottom: 20px;
  min-height: 20px;
  padding: 35px;
}

.panel-body ul{
  padding-left: 20px;
}

.panel-body ul li a {
  color: #696763;
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
  text-transform: uppercase;
}

.panel-group .panel-heading + .panel-collapse .panel-body {
  border-top: 0 none;
}

.category-products {
  border: 1px solid #F7F7F0;
  border-right: none;
  margin-bottom: 35px;
  padding-bottom: 20px;
  padding-top: 15px;
}

.left-sidebar h2:after, h2.title:after{
	content: " ";
	position: absolute;
	border: 1px solid #f5f5f5;
	bottom:8px;
	left: 0;
	width: 100%;
	height: 0;
	z-index: -2;
}


.footerinjo {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  color: white;
  text-align: center;
}


